@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 38, 72);
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;

}

.background-image {
 
    background-image: url(img/bg-removebg-preview.png);
    width: 2000px;
    height: 900px;
    margin-top: 12%;
   

    background-repeat: no-repeat; 
  }

li , a ,button{
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    color: rgb(111, 111, 111);
  
}

/* navbar manu */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 12px;
    border-radius: 12px;
    padding: 5px 10%;
    width: 80%;
    margin: 15px auto;
    flex-wrap: wrap;
    /* box-sizing: border-box;
    overflow: hidden; */

}

nav img{
    width: 50px;
    height: auto;
    
}

nav ul{
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
   margin-right: 42px;
}

nav input{
    
    background-color: rgb(68, 68, 68);
    border: none;
    padding: 2px 24px;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
}
nav input:hover{
    color: rgba(0, 136, 169, 8);
    background-color: #bd7106;
}

.lista{
    display: flex;
    flex-direction: row;
}



/* main  */
main{
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
    
    
}
.mg{
    color: #000;
    margin-bottom: 50px;
  
   
}
.test{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(132, 132, 132);
    width: 400px;
    height: 300px;
    
    
}
.social{
    display: flex;
    
    
}
.social i{
    margin: 20px;
}

.social i{
    font-size: 20px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: auto;
    height: 100px;
}
footer button{
    
    width: 120px;
    height: 30px;
    background-color: rgb(68, 68, 68);
    border: none;
    padding: 2px 24px;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: black;
    transition: all 0.3s ease 0s;

}
footer button:hover{
    color: rgba(0, 136, 169, 8);
    background-color: #bd7106;
    color: white;
}



/* respensibale */
@media only screen and (max-width: 725px) {
    .lista{
        display: flex;
        flex-direction: column;

    }
    nav{
        display: flex;
        flex-direction: column;
    }
  }
